<div>
    <div>
        <div class="layer-actions">
            <div class="inner-addon left-addon" style="margin:5px; float:left" ng-focus="">
                <i class="fa fa-search"></i>
                <input type="text" ng-model="searchText" expand-to="200px" class="form-control" style="width:100px;height:30px"/>
            </div>

            <button class="layer-action" ng-click="vm.createSimulation()">
                <span class="fa fa-plus layer-action-icon"></span>new simulation
            </button>
        </div>

        <div class="scrolling leftpanel-scroll">
            <table class="table table-condensed">
                <thead>
                <tr ng-show="vm.status">
                    <th ng-bind="vm.status"></th>
                <tr>
                <tr ng-hide="vm.status">
                    <th>ensemble</th>
                    <th>name</th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody ng-hide="vm.status">
                <tr ng-repeat="task in vm.tasks | orderBy:['input.ensemble', 'input.simulation'] | filter:searchText track by task._id">
                    <td ng-bind="task.input.ensemble"></td>
                    <td ng-bind="task.input.simulation"></td>
                    <td ng-switch="task.done">
                        <span ng-switch-when="-1" title="simulation error" class="glyphicon glyphicon-warning-sign"></span>
                        <span ng-switch-when="0" title="no output" class="glyphicon glyphicon-eye-close"></span>
                        <a ng-switch-default href="#" ng-click="vm.viewTask(task, 'files')" title="Show Output">
                            <span title="show output" class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                    <td><a href="#" ng-click="vm.viewTask(task)" title="Show data">
                        <span class="glyphicon glyphicon-info-sign"></span></a></td>
                    <td><a href="#" ng-click="vm.remove(task)" class="text-danger" title="Remove simulation">
                        <span class="glyphicon glyphicon-remove-circle"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-if="vm.state === 'newsimulation'" class="layers-create-form" style="background:white">
        <sim-form layer-group="SimCity"></sim-form>
    </div>
</div>
