<div>
    <div>
        <div class="layer-actions">
            <div class="inner-addon left-addon" style="margin:5px; float:left" ng-focus="">
                <i class="fa fa-search"></i>
                <input type="text" ng-model="searchText" expand-to="200px" class="form-control" style="width:100px;height:30px"/>
            </div>

            <button ng-show="vm.$mapService.isAdminExpert" class="layer-action" popover="{{'CREATESIMULATION' | translate}}" ng-click="vm.createSimulation()"
                    popover-placement="bottom" popover-width="300" popover-trigger="mouseenter" popover-append-to-body="true">
                <span class="fa fa-plus layer-action-icon"></span>new simulation
            </button>
            <a ng-click="vm.openSettings()"><i class="fa fa-cog"></i></a>
        </div>

        <div class="scrolling leftpanel-scroll">
            <table class="table table-condensed">
                <thead>
                <tr ng-show="vm.status">
                    <th ng-bind="vm.status"></th>
                <tr>
                <tr ng-hide="vm.status">
                    <th>ensemble</th>
                    <th>name</th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody ng-hide="vm.status">
                <tr ng-repeat="task in vm.tasks | orderBy:['input.ensemble', 'input.simulation'] | filter:searchText track by task._id">
                    <td ng-bind="task.input.ensemble"></td>
                    <td ng-bind="task.input.simulation"></td>
                    <td ng-switch="task.done">
                        <span ng-switch-when="-1" title="simulation error" class="glyphicon glyphicon-warning-sign"></span>
                        <span ng-switch-when="0" title="no output" class="glyphicon glyphicon-eye-close"></span>
                        <a ng-switch-default href="#" ng-click="vm.viewTask(task, 'files')" title="Show Output">
                            <span title="show output" class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                    <td><a href="#" ng-click="vm.viewTask(task)" title="Show data">
                        <span class="glyphicon glyphicon-info-sign"></span></a></td>
                    <td><a href="#" ng-click="vm.remove(task)" class="text-danger" title="Remove simulation">
                        <span class="glyphicon glyphicon-remove-circle"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-if="vm.state === 'createlayer'" ng-view class="layers-create-form" style="background:white">
        <!--<sim-form layer-group="SimCity"></sim-form>-->
        <form name="createNewLayerForm" ng-submit="vm.createNewLayer()" novalidate>

            <div class="layer-actions">

                <button type="submit" ng-disabled="!createNewLayerForm.$valid" class="layer-action save">
                    <span class="fa fa-save layer-action-icon" />save layer
                </button>

                <button ng-click="vm.exitDirectory()" class="layer-action">
                    <span class="fa fa-times layer-action-icon" />cancel
                </button>
            </div>

            <div style="padding:10px">

                <div class="form-group" ng-class="{ 'has-error': createNewLayerForm.layerTitle.$invalid }">
                    <label class="editor-title input-xlarge" for="groupDescription">Title</label>
                    <input type="text" class="form-control" name="layerTitle" id="layerTitle" ng-model="vm.newLayer.title" placeholder="Enter title layer"
                           validtitle>
                    <span class="help-block" ng-show="createNewLayerForm.layerTitle.$error.validtitle">Not a valid title</span>
                </div>
                <div class="form-group">
                    <label class="editor-title input-xlarge">Types</label>
                    <select data-ng-model="vm.layerResourceType" ng-options="k as v.title for (k,v) in vm.resources" class="form-control tt-input editor-text-input"
                            required />
                </div>
                <div class="form-group">
                    <label class="editor-title input-xlarge">Group</label>
                    <select data-ng-model="vm.layerGroup" ng-options="g.id as g.title for g in vm.groups" class="form-control tt-input editor-text-input"
                            required />
                </div>
                <div class="form-group" ng-if="vm.layerGroup=='<new>'" ng-class="{ 'has-error': createNewLayerForm.groupTitle.$invalid }">
                    <label class="editor-title input-xlarge">New Group</label>
                    <input type="text" class="form-control" name="groupTitle" id="groupTitle" ng-model="vm.newGroup" duplicategroup validtitle
                           placeholder="Enter group title">
                    <span class="help-block" ng-show="createNewLayerForm.groupTitle.$error.duplicategroup">Duplicate Group</span>
                    <span class="help-block" ng-show="createNewLayerForm.groupTitle.$error.validtitle">Not a valid title</span>
                </div>
                <!--<button type="submit" ng-disabled="!createNewLayerForm.$valid" class="btn btn-primary">Create layer</button>
                <button ng-click="vm.exitDirectory()" class="btn btn-primary">Cancel</button>-->
            </div>
        </form>

    </div>
</div>

