node_modules/
public/bower_components/
typings/

public/data/templates/
public/data/api/

public/**/*.js
public/**/*.js.map
public/**/*.d.ts

.vscode/
.idea/

server.js.map
server.js
server.d.ts
dist/

offline_search_result.json
