/* Override Bootstrap */
.alert {
    margin-bottom: 0;
}

.ng-hide-add {
    transition: 1s linear all;
}

.leftpanel-content > .tab-content {
    bottom: 5px;
    position: absolute;
    top: 0px;
    width: 100%;
    overflow-y: auto;
}

.leftpanel-content > .tab-content > .tab-pane {
    width: auto;
}

.leftpanel-content #sim-admin {
    padding:5px;
    margin-top: 10px;
    margin-left:10px
}

.rightpanel-content #sim-task-output a.file-output {
    margin-left: 5px;
}

div#sim-form {
    overflow: auto;
    height: 100%;
}

div#sim-form .schema-form-fieldset {
    margin: 15px 0px;
}

.label-parent {
    position: relative;
}

.label-parent .label.label-layers {
    position: absolute;
    top: -10px;
    font-size: 45%;
    margin: auto;
    width: 46px;
    left: 5px;
}

.form-container {
  background: rgba(255, 255, 255, 0.77);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  margin-top: 5px;
  margin-right: 8px;
  color: black;
  min-height: 46px;
}

.form-container h2 {
    display: inline-block;
}

.ensemble-list h4 {
    margin-bottom: 0px;
    text-transform: capitalize;
}

.ensemble-list .toggle-bar {
    cursor: pointer;
}

.ensemble-list .toggle {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    margin-right:5px;
}

.ensemble-list .ensemble-tasks {
    margin-left: 20px;
}

/* Override csWeb control-label */
.schema-form-fieldset .control-label {
    width: initial;
}

#jobSubmitForm {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#jobSubmitForm .btn-primary span.isLoading {
    color: #337ab7;
    text-shadow: none;
}

#jobSubmitForm .btn-primary:hover span.isLoading,
#jobSubmitForm .btn-primary:active span.isLoading,
#jobSubmitForm .btn-primary:focus span.isLoading,
#jobSubmitForm .btn-primary:visited span.isLoading {
    color: #286090;
}
