<div class="s3d form-container">
    <h2>Overview</h2>
    <i ng-if="vm.status" ng-bind="vm.status"></i>
    <table class="table table-condensed small" ng-if="!vm.status">
        <tr>
            <th colspan="2">Tasks</th>
        </tr>
        <tr ng-repeat="task in vm.tasks">
            <td ng-bind="task.name"></td><td ng-bind="task.value"></td>
        </tr>
        <tr>
            <th colspan="2">Jobs</th>
        </tr>
        <tr ng-repeat="job in vm.jobs">
            <td ng-bind="job.name"></td><td ng-bind="job.value"></td>
        </tr>
    </table>
</div>
