<div data-ng-cloak class="rightpanel-content" id="simtask-content">
    <!--
    vm.status will change according to our request. This is dynamic. All other variables will be fixed once the request
    has finished, so then we can use one-time binding (::)
    -->
    <h4 class="rightpanel-header" ng-if="vm.status" style="padding-left: 5px" ng-if="vm.status" ng-bind="vm.status" uib-popover="{{vm.status}}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true"></h4>
    <h4 class="rightpanel-header" ng-if="!vm.status">
        <div style="padding-left: 5px" ng-bind-template="{{::vm.task._id | limitTo : 10}}{{::vm.task._id.length > 10 ? '&hellip;' : ''}} ({{::vm.task.input.ensemble | limitTo:6}}{{::vm.task.input.ensemble.length > 6 ? '&hellip;' : ''}})"></div>
    </h4>

    <div class="container-fluid rightpanel-tabs" ng-if="!vm.status" style="position: relative;height:45px">
        <!--
        vm.status is not set, so vm.task and vm.webserviceUrl are now known and will not change.
        We can use one-time binding throughout this div.
        -->
        <div class="row">
            <ul class="nav nav-tabs" id="taskTabs" style="margin-left:10px">
                <li data-toggle="tab" ng-class="::{active: vm.tab!=='files' || !vm.hasAttachments}">
                    <a data-target="#sim-task-input" data-toggle="tab"><span class="fa fa-info"></span></a>
                </li>
                <li data-toggle="tab" ng-if="::vm.hasAttachments" ng-class="::{active: vm.tab==='files'}">
                    <a data-target="#sim-task-output" data-toggle="tab"><span class="fa fa-files-o"></span></a>
                </li>
                <li data-toggle="tab" ng-if="::vm.task.error.length">
                    <a data-target="#sim-task-error" data-toggle="tab"><span class="fa fa-exclamation-triangle"></span></a>
                </li>
                <li data-toggle="tab">
                    <a data-target="#sim-task-details" data-toggle="tab">Details</a>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="!vm.status" class="tab-content" style="position: absolute; top: 70px; bottom: 0px; overflow-y: auto; overflow-x: hidden; width: 100%;">
        <!--
        vm.status is not set, so vm.task and vm.webserviceUrl are now known and will not change.
        We can use one-time binding throughout this div.
        -->
        <div class="tab-pane" ng-class="::{active: vm.tab!=='files' || !vm.hasAttachments}" id="sim-task-input" style="padding: 5px;">
            <dl ng-repeat="(key, value) in ::vm.task.input track by key">
                <dt ng-bind="::key"></dt>
                <dd ng-if="::vm.isSimpleValue(value)" ng-bind="::value"></dd>
                <dd ng-if="::!vm.isSimpleValue(value)">
                    <pre ng-bind="::value | json"></pre>
                </dd>
            </dl>
        </div>

        <div class="tab-pane" ng-class="::{active: vm.tab==='files'}" id="sim-task-output"  ng-if="::vm.hasAttachments">
            <table class="table">
                <tr>
                    <th>File</th><th>Size</th><td>&nbsp;</td>
                </tr>
                <tr ng-repeat="(name, attachment) in ::vm.task.filelist track by name">
                    <td ng-bind="::name"></td><td ng-bind="::attachment.length | formatBytes" class="text-right"></td><td>
                    <a href ng-if="::attachment.content_type === 'application/json'" title="Show on map" ng-click="vm.visualize(name)" class="file-output"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a ng-href="{{::vm.webserviceUrl}}/simulation/{{::vm.task._id}}/{{::name}}" title="download" download="{{::vm.task._id}}_{{::name}}" target="_self" class="file-output"><span class="glyphicon glyphicon-download-alt"></span></a>
                </td>
                </tr>
            </table>
        </div>

        <div class="tab-pane" id="sim-task-error" ng-if="::vm.task.error.length">
            <table class="table">
                <tr>
                    <th>Time</th><th>Message</th><th>Details</th>
                </tr>
                <tr ng-repeat="error in ::vm.task.error">
                    <td ng-bind="::error.time | formatSeconds"></td><td ng-bind="::error.message"></td><td ng-bind="::error.exception || ''"></td>
                </tr>
            </table>
        </div>

        <div class="tab-pane" id="sim-task-details">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>ID</td><td ng-bind="::vm.task._id"></td>
                </tr>
                <tr>
                    <td>command</td><td ng-bind="::vm.task.command"></td>
                </tr>
                <tr ng-if="::vm.task.arguments">
                    <td>arguments</td><td ng-if="::vm.task.arguments.length > 0">["{{::vm.task.arguments.join('", "')}}"]</td><td ng-if="::vm.task.arguments.length == 0">[ ]</td>
                </tr>
                <tr>
                    <td>host</td><td ng-bind="::vm.task.hostname"></td>
                </tr>
                <tr>
                    <td>URL</td><td><a ng-href="{{::vm.webserviceUrl}}/simulation/{{::vm.task._id}}" target="_blank" title="raw JSON output">{{::vm.webserviceUrl}}/simulation/{{::vm.task._id}}</a></td>
                </tr>
                <tr>
                    <td>started processing</td><td ng-bind="::vm.task.lock | formatSeconds: 'not processing'"></td>
                </tr>
                <tr>
                    <td>done processing</td><td ng-bind="::vm.task.done | formatSeconds: 'not done'"></td>
                </tr>
                <tr>
                    <td>revision</td><td ng-bind="::vm.task._rev"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
