<div data-ng-cloak class="rightpanel-content" id="simtask-content">
    <h4 class="rightpanel-header" ng-if="vm.status" ng-bind="vm.status"></h4>
    <h4 class="rightpanel-header" ng-hide="vm.status" ng-bind-template="Simulation '{{vm.task.ensemble}} ({{vm.task._id}})'"></h4>

    <div class="container-fluid rightpanel-tabs" ng-hide="vm.status">
        <div class="container-fluid rightpanel-tabs" style="position: relative;height:45px">
            <div class="row">
                <ul class="nav nav-tabs" id="taskTabs" style="margin-left:10px">
                    <li data-toggle="tab" ng-class="{active: vm.tab!=='files'}">
                        <a data-target="#sim-task-input" data-toggle="tab"><span class="fa fa-info"></span></a>
                    </li>
                    <li data-toggle="tab" ng-if="vm.task.uploads || vm.task._attachments" ng-class="{active: vm.tab==='files'}">
                        <a data-target="#sim-task-output" data-toggle="tab"><span class="fa fa-files-o"></span></a>
                    </li>
                    <li data-toggle="tab" ng-if="vm.task.error.length">
                        <a data-target="#sim-task-error" data-toggle="tab"><span class="fa fa-exclamation-triangle"></span></a>
                    </li>
                    <li data-toggle="tab">
                        <a data-target="#sim-task-details" data-toggle="tab">Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content" style="top:50px; overflow-y: auto; overflow-x: hidden; width: 100%" resize resize-y="150">
        <div class="tab-pane" ng-class="{active: vm.tab!=='files'}" id="sim-task-input">
            <table class="table">
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
                <tbody ng-repeat="(key, value) in vm.task.input track by key">
                <tr ng-if="['number', 'string', 'boolean'].includes(typeof(value))">
                    <td ng-bind="key"></td><td ng-bind="value"></td>
                </tr>
                <tr ng-if="!['number', 'string', 'boolean'].includes(typeof(value))">
                    <td ng-bind="key"></td><td><pre ng-bind="value | json"></pre></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" ng-class="{active: vm.tab==='files'}" id="sim-task-output"  ng-if="vm.task.uploads || vm.task._attachments">
            <table class="table">
                <tr>
                    <th>File</th><th>Size</th><td>&nbsp;</td>
                </tr>
                <tr ng-repeat="(name, attachment) in vm.task._attachments track by name">
                    <td ng-bind="name"></td><td ng-bind="attachment.length | formatBytes" class="text-right"></td><td>
                    <a href="#" ng-if="name.indexOf('.json', name.length - 5) !== -1" title="Show on map" ng-click="vm.visualize(name, 'attachment')"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a ng-href="{{vm.webserviceUrl}}/simulation/{{vm.task._id}}/{{name}}" title="download"><span class="glyphicon glyphicon-download-alt"></span></a>
                </td>
                </tr>
                <tr ng-repeat="(name, attachment) in vm.task.uploads track by name">
                    <td ng-bind="name"></td><td>&nbsp;</td><td>
                    <a href="#" ng-if="name.indexOf('.json', name.length - 5) !== -1" title="Show on map" ng-click="vm.visualize(name, 'upload')"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a ng-href="{{attachment}}" title="download"><span class="glyphicon glyphicon-download-alt"></span></a>
                </td>
                </tr>
            </table>
        </div>

        <div class="tab-pane" id="sim-task-error" ng-if="vm.task.error.length">
            <table class="table">
                <tr>
                    <th>Time</th><th>Message</th><th>Details</th>
                </tr>
                <tr ng-repeat="error in vm.task.error">
                    <td ng-bind="error.time | formatSeconds"></td><td ng-bind="error.message"></td><td ng-bind="error.exception || ''"></td>
                </tr>
            </table>
        </div>

        <div class="tab-pane" id="sim-task-details">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>ID</td><td ng-bind="vm.task._id"></td>
                </tr>
                <tr>
                    <td>command</td><td ng-bind="vm.task.command"></td>
                </tr>
                <tr ng-if="vm.task.arguments">
                    <td>arguments</td><td ng-bind="vm.task.arguments"></td>
                </tr>
                <tr>
                    <td>host</td><td ng-bind="vm.task.hostname"></td>
                </tr>
                <tr>
                    <td>URL</td><td><a href="{{vm.webserviceUrl}}/simulation/{{vm.task._id}}" target="_blank" title="raw JSON output">{{vm.webserviceUrl}}/simulation/{{vm.task._id}}</a></td>
                </tr>
                <tr>
                    <td>started processing</td><td ng-bind="vm.task.lock | formatSeconds: 'not processing'"></td>
                </tr>
                <tr>
                    <td>done processing</td><td ng-bind="vm.task.done | formatSeconds: 'not done'"></td>
                </tr>
                <tr>
                    <td>revision</td><td ng-bind="vm.task._rev"></td>
                </tr>
            </table>
        </div>
    </div>
</div><!-- /.modal -->
