<div style="padding: 5px;">
    <fieldset class="schema-form-fieldset">
        <legend>New simulation</legend>
        <form name="simulationForm"
              data-ng-hide="!vm.schema"
              sf-schema="vm.schema"
              sf-form="vm.form"
              sf-model="vm.model"
              sf-options="">
        </form>
        <button data-ng-click="vm.cancel()"
                class="btn btn-secondary">Cancel
        </button>
        <button data-ng-hide="!vm.schema"
                data-ng-click="vm.onSubmit(simulationForm)"
                class="btn btn-success"
                data-ng-disabled="simulationForm.$invalid">Submit
        </button>
    </fieldset>
</div>
