<div id="sim-form" style="padding: 5px;" class="s3d form-container">
    <fieldset class="schema-form-fieldset">
        <legend>{{ vm.legend }}</legend>
        <form name="simulationForm"
              data-ng-hide="!vm.schema"
              sf-schema="vm.schema"
              sf-form="vm.form"
              sf-model="vm.model"
              sf-options="">
        </form>
        <button data-ng-click="vm.cancel()"
                class="btn btn-secondary">Cancel
        </button>
        <button data-ng-hide="!vm.schema"
                data-ng-click="vm.onSubmit(simulationForm)"
                class="btn btn-success"
                data-ng-disabled="simulationForm.$invalid">Submit
        </button>
    </fieldset>
</div>
